@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

p{
    color:#626970 ;
}

h2{
    color: #bab195 ;
}

.apresentacao{
    height: 100vh;
}

#imgPC{
    width: 100%;
    animation: pular 1500ms infinite;
}

@keyframes pular{
    0%{transform: translateY(0);}
    50%{transform: translateY(15%);}
    100%{transform: translateY(0);}
}

#eusou{
    margin: 10px 0;
}

.helloW{
    width: 100vw;
    text-align: center;
    margin: 30px 0;
}

.helloW button{
    background-color: #11091a;
    color: #e8d18e;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid #e8d18e;
    font-weight: 400;
}

#bloco{
    height: 84px;
}

#sobremim{
    background-color:#190d27 ;
    width: 100%;
}

#miniCont{
    padding: 20px;
    margin: 0 auto;
}

h3{
    color:#bab195;
    margin: 20px 0;
}

#descricao{
    width: 100%;
    font-size: 15px;
}

#divft{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

#minhaCara{
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
    width: 100%;
}

#tituloProj{
    width: 100%;
    text-align: center;
}

#falecomigo{
    height: 90vh;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

#falecomigo p{
    margin: 20px 0;
}

#falecomigo button{
    width: 150px;
    height: 50px;
    margin-top: 40px;
    font-weight: 700;
    border: 2px solid green;
    background-color: #11091a;
    justify-items: center;
    align-items: center;
}

#falecomigo button a{
    color: green;
}

hr{
    width: 90%;
    margin: 0 auto;
}

@media (min-width:910px){
    .apresentacao{
        justify-items: center;
    }

    #imgPC{
        width: 700px;
        height: 400px;
    }

    .helloW{
        width: auto;
        margin-left: 50px;
        font-size: xx-large;
        text-align: start;
    }

    #sobremim{
        height: 100vh;
    }

   #miniCont{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 100px;
   } 

   #divft{
    width: 400px;
    margin:0 auto ;
   }

   .texto{
    width: 50%;
    font-size: 20pt;
    margin:0 auto ;
   }

   #descricao {
    font-size: 14pt;
   }

   #tituloProj{
    font-size: 24pt;
   }

}

@media(min-width:1044px){
    .apresentacao{
        display: flex;
        margin-top: 150px;
        justify-items: start;
    }
}