.img{
    width: 250px;
    object-fit: cover;
    box-shadow: 1px 1px 3px black;
    border-radius: 7px;
    margin: 15px 0;
}

#ConteinerCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card{
    justify-items: center;
    width: 300px;
    background-color: #2f2f4d;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px black;
    margin: 10px auto;
    text-align: center;
}

.card p{
    margin: 20px 0;
}

.card a{
    margin: 20px;
    background-color: #11091a;
    padding: 10px;
    border-radius: 50%;
}

.links a:hover{
    transform: translateY(-5px);
    transition: all 200ms ease;
}

video{
    width: 250px;
    height: 250px;
    object-fit: cover;
    box-shadow: 1px 1px 3px black;
    border-radius: 7px;
    margin: 15px 0;
}


@media (min-width:768px){
    #ConteinerCards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .links{
        display: flex;
        flex-direction: row;
    }

    .card{
        margin: 15px;
    }

    .img{
        width: 300px;
    }

}